$breakpoint-phone-small: 320px;
$breakpoint-phone-medium: 360px;
$breakpoint-phone-large: 412px;
$breakpoint-tablet-small: 600px;
$breakpoint-tablet-medium: 768px;
$breakpoint-tablet-large: 1024px;
$breakpoint-laptop-small: 1280px;
$breakpoint-laptop-medium: 1366px;
$breakpoint-laptop-large: 1600px;
$breakpoint-desktop: 1920px;
$breakpoint-desktop-2k: 2560px;
$breakpoint-desktop-4k: 3840px;

@mixin breakpoint($viewport-size) {
  @if $viewport-size == 'phone-small' {
    @media (width >= $breakpoint-phone-small) {
      @content;
    }
  } @else if $viewport-size == 'less-phone-small' {
    @media (width < $breakpoint-phone-small) {
      @content;
    }
  } @else if $viewport-size == 'less-phone-medium' {
    @media (width < $breakpoint-phone-medium) {
      @content;
    }
  } @else if $viewport-size == 'phone-medium' {
    @media (width >= $breakpoint-phone-medium) {
      @content;
    }
  } @else if $viewport-size == 'less-phone-large' {
    @media (width < $breakpoint-phone-large) {
      @content;
    }
  } @else if $viewport-size == 'phone-large' {
    @media (width >= $breakpoint-phone-large) {
      @content;
    }
  } @else if $viewport-size == 'less-tablet-small' {
    @media (width < $breakpoint-tablet-small) {
      @content;
    }
  } @else if $viewport-size == 'tablet-small' {
    @media (width >= $breakpoint-tablet-small) {
      @content;
    }
  } @else if $viewport-size == 'less-tablet-medium' {
    @media (width < $breakpoint-tablet-medium) {
      @content;
    }
  } @else if $viewport-size == 'tablet-medium' {
    @media (width >= $breakpoint-tablet-medium) {
      @content;
    }
  } @else if $viewport-size == 'less-tablet-large' {
    @media (width < $breakpoint-tablet-large) {
      @content;
    }
  } @else if $viewport-size == 'tablet-large' {
    @media (width >= $breakpoint-tablet-large) {
      @content;
    }
  } @else if $viewport-size == 'less-laptop-small' {
    @media (width < $breakpoint-laptop-small) {
      @content;
    }
  } @else if $viewport-size == 'laptop-small' {
    @media (width >= $breakpoint-laptop-small) {
      @content;
    }
  } @else if $viewport-size == 'less-laptop-medium' {
    @media (width < $breakpoint-laptop-medium) {
      @content;
    }
  } @else if $viewport-size == 'laptop-medium' {
    @media (width >= $breakpoint-laptop-medium) {
      @content;
    }
  } @else if $viewport-size == 'less-laptop-large' {
    @media (width < $breakpoint-laptop-large) {
      @content;
    }
  } @else if $viewport-size == 'laptop-large' {
    @media (width >= $breakpoint-laptop-large) {
      @content;
    }
  } @else if $viewport-size == 'less-desktop' {
    @media (width < $breakpoint-desktop) {
      @content;
    }
  } @else if $viewport-size == 'desktop' {
    @media (width >= $breakpoint-desktop) {
      @content;
    }
  } @else if $viewport-size == 'less-desktop-2k' {
    @media (width < $breakpoint-desktop-2k) {
      @content;
    }
  } @else if $viewport-size == 'desktop-2k' {
    @media (width >= $breakpoint-desktop-2k) {
      @content;
    }
  } @else if $viewport-size == 'less-desktop-4k' {
    @media (width < $breakpoint-desktop-4k) {
      @content;
    }
  } @else if $viewport-size == 'desktop-4k' {
    @media (width >= $breakpoint-desktop-4k) {
      @content;
    }
  }
}
