.reset-button {
  background: none;
  border: none;
  border-radius: 50vw;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  padding-block: 10px;
  text-transform: capitalize;
  padding-inline: 18px;
  color: inherit;
}
